/* TODO Add site wide styles */
body {
    text-decoration: none;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: black;
    font-size: 12pt;
    margin: 0px;
}

body button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.centering-spot-container {
    display: flex;
    justify-content: center;
}
