.home-pic {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 675px;
    z-index: -1;
}

.slogan {
    color: white;
    font-size: 36pt;
    font-weight: 700;
}

.slogan-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 80px;
}