.business-details-container {
    padding-top: 20px;
    color: white;
    padding-left: 100px;
}

.business-details-container-image {
    margin-top: 20px;
    color: white;
    height: 400px;
    margin-bottom: -400px;
    background-color: rgba(0, 0, 0, 0.1);
}

.business-detail-image {
    position: absolute;
    height: 400px;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.3);
}

/* .business-details-name {
    padding-left: 25px;
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: left;
    width: 100%;
    height: 30px;
    font-weight: 600;
    font-size: 48px;
} */

.businesses {
    /* background-color: rgb(240, 240, 240); */
    margin-top: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 350px;
    border-radius: 5px;
    padding-bottom: 20px;
    border: 1px solid rgb(227,227,227);
}

.business_card_address_bold, .business_card_contact_bold {
    font-weight: bold;
}

.businesses:hover {
    box-shadow: 0px 0px 10px rgba(110,112,114,1)
}

.reviews-information {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.reviews {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    border-radius: 20px;
}

.review-label-for-details {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-weight: 700;
    font-size: 200%;
    padding-left: 25px;
    top: 510px;
    left: 0px;
    right: 0px;             
}

.business-details-name {
    font-size: 48px;
    margin-top: 200px;
    font-weight: 600;
}

.business-details-category {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    color: white;
    line-height: 50px;
    font-size: 35px;
    margin-bottom: -70px;
    margin-top: 5px;
    padding-left: 30px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.business-details-address {
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 20px;
}

.business-details-bottom-hero-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.business-details-hero-buttons-container {
    display: flex;
}
